<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Dojo Weather</h1>
  <div>
    <button [routerLink]="['/sanjose']">San Jose CA</button>
    <button [routerLink]="['/chicago']">Chicago</button>
    <button [routerLink]="['/seattle']">Seattle Washington</button>
    <button [routerLink]="['/burbank']">Burbank</button>
    <button [routerLink]="['/dallas']">Dallas TX</button>
    <button [routerLink]="['/chicago']">Chicago</button>
  </div>

</div>

<router-outlet></router-outlet>
